html, body {
    height:100%;
    margin:0;
}

a { color: inherit; }
a:hover { color: inherit; }

.main-container {
  height: 97%;
  display:flex;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 10px 0px 10px;
}

.first-column {
  flex: 6;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-width: 250px;
}


.header {
  flex: 0 1 auto;
  height: 20%;
  width: 100%;
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
}
.header img {
  height: auto;
  width: 50%;
}

.main-navbar {
  flex: 1 1 auto;
  align-content: center;
  padding-top: 50px;
  padding-left: 20px;
}


.main-navbar ul {
  padding-left: 0px;
  list-style-type: none;
  width: 95%;
}

.main-navbar li {
  text-decoration: none;
  color: black;
  padding: 20px;
  padding-left: 5px;
}

.main-navbar li.active {
  font-weight: bold;
}

.main-navbar li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.second-column {
  flex: 8;
  min-width: 250px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.second-column p {
  padding-left: 10%;
  padding-right: 10%;
  text-indent: 5%;
  text-align: justify;
}

.services ul {
  list-style-type: none;
  padding-left: 10%;
  padding-right: 10%;;
}
.services li {
  color: rgb(100, 100, 100);
  font-size: 14px;
  padding: 5px;
}

.services li a:hover {
  color: black;
  text-decoration: none;
}

.services li a:before {
  content: ">";
  font-weight: normal;
}

.services li.active a{
  color: orange;
  font-size: 14px;
  text-shadow: 0.5px 0 0;
}
.services li.active a:hover {
  color: orange;
  font-size: 14px;
  text-shadow: 0.5px 0 0;
}

.third-column {
  flex: 10;
  display: flex;
  flex-flow: column center;
  min-width: 250px;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.75);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.third-column img {
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.third-column .third-column-content {
  height: 100%;
  width: 100%;
  position: absolute;
  color: white;
  padding: 15px;
}

.third-column .third-column-content div {
  padding: 15px;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.third-column .third-column-content div * {
  text-align: justify;
}

.third-column td {
  padding-left: 25px;
  vertical-align: top;
}

.footer {
  height: 3%;
  padding-left: 60px;
  padding-bottom: 5px;
  font-size: 80%;
}

@media (max-width: 780px) {
  .main-container {
    height: auto;
    padding-top: 60px;
  }
  .first-column {
    margin-bottom: 40px;
  }
  .second-column {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  .third-column {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 500px;
  }
  .footer {
    padding-left: 0px;
    text-align: center;
  }
  .third-column .third-column-content div {
    overflow: scroll;
  }
}
